.project {
    background-color: white;
    color: navy;
    text-decoration: none;
    border: 8px solid navy;
    border-radius: 2rem 0;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-weight: bolder;
}

.project:hover{
    background-color: navy;
    color: white;
    transform: scale(1.05);
}

.todo-header{
    gap: 1rem;
}

.todo-header input{
    width: 32%;
}

.todo-header button {
    width: 25%;
}

body{
    font-family: mont;
}
nav{
    background-color: black;
}
.carousel-item img{
    height: 30rem;
}
.services{
    background-image: url(https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/homepage/families-gallery/2023/revuelto/revuelto_m.png);
    height: 45rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    padding-top: 8rem;
}
.service{
    text-shadow: 1px 1px 8px white;
}
.card-img-top{
    height: 13rem;
}
.card{
    margin: 1rem;
}
.registration-form{
    max-width: 400px;
    margin: 5rem auto;
}


@media (max-width : 768px) {
    .todo-header{
        flex-direction: column;
    }

    .todo-header input {
        width: 100%;
    }

    .todo-header button {
        width: 100%;
    }

}